$kn-dark-blue: #003369;
$kn-light-blue: #0099DA;
$kn-light-blue-focus: #379ed4;
$kn-transparent-blue: #f2f5f8;
$kn-transparent-dark-blue: rgba($kn-dark-blue, 0.3);
$kn-caribbean-green: #08C792;
$kn-caribbean-green-110: #07B383;
$coral-red: #da1e28;
$green-haze: #08b238;
$mountain-meadow: #19c589;
$kn-dark-blue-10: #E5EBF0;
